<ion-header>
  <ion-toolbar>
    <ion-title>
      Jogo da Velha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Jogador atual: {{player}}</ion-card-subtitle>
      <ion-card-title *ngIf="winner">Vencedor: {{winner}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="4" *ngFor="let val of squares; let i = index">
          <app-square *ngIf="!winner" [value]="val" (click)="makeMove(i)"></app-square>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-button color="dark" expand="block" (click)="newGame()">
    <ion-icon name="refresh-outline"></ion-icon>
  </ion-button>
</ion-content>
