<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">
      Snake
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="scoreboard">
    <ion-label>Pontos</ion-label>
    <ion-badge class="score">{{score}}</ion-badge>
    <ion-badge class="score" color="warning" style="margin-left: 8px;">{{max_score}}</ion-badge>
  </ion-item>

  <canvas id="snake-game-board" height="1080px" width="1080px"></canvas>

  <ion-button class="ion-margin" color="dark" expand="block" (click)="newGame()" *ngIf="isGameOver">
    <ion-icon name="refresh-outline"></ion-icon>
  </ion-button>

  <ion-grid class="arrows ion-margin" *ngIf="!isGameOver">
    <ion-row>
      <ion-col></ion-col>
      <ion-col class="arrow" (click)="handleMovement(_, 38)">
        <span>
          <ion-icon name="arrow-up-outline"></ion-icon>
        </span>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="arrow" id="left" (click)="handleMovement(_, 37)">
        <span>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </span>
      </ion-col>
      <ion-col class="arrow" (click)="handleMovement(_, 40)">
        <span>
          <ion-icon name="arrow-down-outline"></ion-icon>
        </span>
      </ion-col>
      <ion-col class="arrow ion-align-self-start" id="right" (click)="handleMovement(_, 39)">
        <span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
