<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">
      Roleta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-menu">
    <div id="btnPlay" class="btnRoleta play" (click)="playOnClick()">
      <ion-icon name="play"></ion-icon>
    </div>
    <div id="btnStop" class="btnRoleta stop" (click)="stopOnClick()">
      <ion-icon name="pause"></ion-icon>
    </div>
  </div>
  <div class="folha">
    <div class="seta"></div>
    <div class="roleta" id="roleta">
      <div class="box1"></div>
      <div class="box2"></div>
      <div class="box3"></div>
      <div class="box4"></div>
      <div class="box5"></div>
      <div class="box6"></div>
      <div class="box7"></div>
      <div class="box8"></div>

      <div class="premio premio1" id="opt1">100 reais</div>
      <div class="premio premio2" id="opt0">110 reais</div>
      <div class="premio premio3" id="opt7">115 reais</div>
      <div class="premio premio4" id="opt6">120 reais</div>
      <div class="premio premio5" id="opt5">125 reais</div>
      <div class="premio premio6" id="opt4">130 reais</div>
      <div class="premio premio7" id="opt3">140 reais</div>
      <div class="premio premio8" id="opt2">150 reais</div>
    </div>
  </div>
  <p id="msgGanhador"></p>
</ion-content>
