<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">
      Loja
    </ion-title>
  </ion-toolbar>
  <div class="points-bar">
    <ion-icon color="danger" name="diamond-outline"></ion-icon>
    <span>{{globalPoints}}</span>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
      <ion-button fill="clear">
        <ion-icon color="success" slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
      <ion-button fill="clear">
        <ion-icon color="success" slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
      <ion-button fill="clear">
        <ion-icon color="success" slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
      <ion-button fill="clear">
        <ion-icon color="success" slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
      <ion-button fill="clear">
        <ion-icon color="success" slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
