.points-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 10px 20px;

  ion-icon {
    margin-right: 10px;
    font-size: 1.5rem;
  }

  span {
    font-weight: bold;
    font-size: 1.1rem;
    color: #999999;
  }
}

ion-content {

}
