ion-header {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-image: url('https://wallpaperaccess.com/full/1181260.jpg');
  background-size: cover;

  p {
    text-align: center;
  }

  ion-title {
    font-size: 40px;
    background-color: rgba(1, 1, 1, 0.3);
    text-align: center;

    @media (max-width: 351px) {
      font-size: 30px;
    }
  }
}
ion-content {
  .select-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    ion-button {
      margin-top: 20px;
      width: 90%;
    }
  }
}

ion-footer {
  height: 50px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(37, 153, 153);
  
    p {
      margin-right: 5px;
      color: #fff;
    }

    ion-icon {
      color: #fff;
    }
  }
}