ion-content {
  ion-header {
    display: flex;
    height: 200px;
    background-image: url('https://wallpaperaccess.com/full/1181260.jpg');
    background-size: cover;

    ion-title {
      font-size: 40px;
      background-color: rgba(1, 1, 1, 0.3);
      text-align: center;
    }
  }
  .select-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 70px;

    ion-button {
      margin-top: 20px;
      width: 100%;
    }
  }
}
